#
# 2 Workflows für Prod Deployment und Stage Deployment
# Stage aus Release Branches deployed
# Stage bekommt keine Tags, sondern Build basiert auf Comit Hash
# Prod kann nur von Tags deployed werden
# Zwei Faktor deployment für Prod ()
# Unit Test ausführung vor Deployment
#
#


name: Build and Deploy (Development)
on:
  workflow_dispatch:
    inputs:

      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        default: 'Preview Environment'
        options:
          - Dominik
          - Eduard
          - Dennis

jobs:
  build:
    runs-on: ubuntu-latest
    environment: 
      name: Development
      url: https://dev.github.com
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get short sha
        id: short_sha
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT 
      - name: Setup Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: citest/ciapp
      - name: Print secret
        run: echo ${{ secrets.MY_SECRET }}
      - name: Print var
        run: echo ${{ vars.MY_VAR }}