#
# 2 Workflows für Prod Deployment und Stage Deployment
# Stage  aus Release Branches deployed
# Stage bekommt keine Tags, sondern Build basiert auf Comit Hash
# Prod kann nur von Tags deployed werden
# Zwei Faktor deployment für Prod ()
# Unit Test ausführung vor Deployment
#
#


name: Build and Deploy (Prod) 
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build and Deploy"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    environment: 
      name: Production
      url: https://github.com
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check if Workflow execution is from a tag
        run: |
          if [[ "$GITHUB_REF" != refs/tags/* ]]; then
            echo "::error::Workflow execution is not from a tag"
            exit 1
          fi
          echo "Run from Tag: $GITHUB_REF"

      - name: Verify if tag is on main branch
        id: verify_tag
        run: |
          TAG_NAME=$(git tag --contains ${{ github.sha }} | head -n 1)
          if [[ -z "$TAG_NAME" ]]; then
            echo "::error::No tag found for the commit."
            exit 1
          fi
          MAIN_COMMIT=$(git rev-list -n 1 "$TAG_NAME")
          if git branch -r --contains "$MAIN_COMMIT" | grep -q 'origin/main'; then
            echo "Tag is on main branch"
            echo "main_branch=true" >> $GITHUB_ENV
          else
            echo "Tag is not on main branch"
            echo "main_branch=false" >> $GITHUB_ENV
          fi 

      - name: Setup Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: citest/ciapp
          tags: |
            type=sha,enable=true,priority=400,prefix=,suffix=,format=short
            type=semver,pattern={{version}},priority=300

      - name: Print Docker metadata
        run: echo ${{ fromJSON(steps.meta.outputs.json).tags[1] }}
      - name: Deploy stage.dev
        if: github.event.inputs.environment == 'stage.dev'
        run: echo "Deploy stage.dev"
      - name: Deploy stage-1.dev
        if: github.event.inputs.environment == 'stage-1.dev'
        run: echo "Deploy stage-1.dev"
      - name: Deploy stage-2.dev
        if: github.event.inputs.environment == 'stage-2.dev'
        run: echo "Deploy stage-2.dev"
      - name: Deploy prod.dev
        if: github.event.inputs.environment == 'prod.dev'
        run: echo "Deploy prod.dev "
