#
# 2 Workflows für Prod Deployment und Stage Deployment
# Stage  aus Release Branches deployed
# Stage bekommt keine Tags, sondern Build basiert auf Comit Hash
# Prod kann nur von Tags deployed werden
# Zwei Faktor deployment für Prod ()
# Unit Test ausführung vor Deployment
#
#


name: Build and Deploy (Prod) 
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build and Deploy"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    environment: 
      name: Production
      url: https://github.com
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: citest/ciapp
          tags: |
            type=semver,pattern={{version}},priority=400
            type=sha,enable=true,priority=300,prefix=main-,suffix=,format=short

      - name: Print Docker metadata
        run: echo ${{ fromJSON(steps.meta.outputs.json).tags[1] }}
      - name: Print short sha
        run: git rev-parse --short HEAD
      - name: Print secret
        run: echo ${{ secrets.MY_SECRET }}
      - name: Print secret
        run: echo ${{ vars.MY_VAR }}