#
# 2 Workflows für Prod Deployment und Stage Deployment
# Stage  aus Release Branches deployed
# Stage bekommt keine Tags, sondern Build basiert auf Comit Hash
# Prod kann nur von Tags deployed werden
# Zwei Faktor deployment für Prod ()
# Unit Test ausführung vor Deployment
#
#


name: Build and Deploy (Prod) 
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build and Deploy"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    environment: 
      name: Production
      url: https://github.com
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Verify tag is on main branch
        run: |
          if git merge-base --is-ancestor ${{ github.ref }} origin/main; then
            echo "Tag is on main branch."
          else
            echo "Tag is not on main branch."
            exit 1  # Stoppt den Workflow, falls das Tag nicht auf dem main-Branch ist 
          fi
      - name: Get short sha
        id: short_sha
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT 
      - name: Setup Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: citest/ciapp
          tags: |
            type=semver,pattern={{version}},priority=400
            type=ref,enable=true,priority=300,prefix=,suffix=-${{ steps.short_sha.outputs.SHORT_SHA }},event=branch
      - name: Print secret
        run: echo ${{ secrets.MY_SECRET }}
      - name: Print var
        run: echo ${{ vars.MY_VAR }}