#
# 2 Workflows für Prod Deployment und Stage Deployment
# Stage  aus Release Branches deployed
# Stage bekommt keine Tags, sondern Build basiert auf Comit Hash
# Prod kann nur von Tags deployed werden
# Zwei Faktor deployment für Prod ()
# Unit Test ausführung vor Deployment
#
#


name: Build and Deploy (Stage)
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build and Deploy"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    environment: 
      name: Staging
      url: https://stage.github.com
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: citest/ciapp
          tags: |
            type=sha,enable=true,priority=400,prefix=,suffix=,format=short
            type=semver,pattern={{version}},priority=300,suffix=-rc-${{ github.sha }}
            type=ref,event=branch,priority=200,suffix=-rc-${{ github.sha }}
            type=ref,event=pr,priority=100
      - name: Print Docker metadata
        run: echo ${{ fromJSON(steps.meta.outputs.json).tags[0] }}
      - name: Print short sha
        run: git rev-parse --short HEAD
      - name: Print secret
        run: echo ${{ secrets.MY_SECRET }}