name: Build and Deploy
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Environment
        default: stage.dev
        options:
          - stage.dev
          - stage-1.dev
          - stage-2.dev
          - prod.dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: echo "Checkout code"
      - name: build container
        run: echo "Build container"
      - name: Check if workflow run from tag
        run: echo "Check if workflow run from tag"
      - name: Check run is from tag
        run: |
          if [ -n "$GITHUB_REF" ]; then
            if [[ "$GITHUB_REF" == refs/tags/* ]]; then
              echo "This run is from tag"
            else
              echo "This run is not from tag"
            fi
          fi
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            citest/ciapp

      - name: Deploy stage.dev
        if: github.event.inputs.environment == 'stage.dev'
        run: echo "Deploy stage.dev"
      - name: Deploy stage-1.dev
        if: github.event.inputs.environment == 'stage-1.dev'
        run: echo "Deploy stage-1.dev"
      - name: Deploy stage-2.dev
        if: github.event.inputs.environment == 'stage-2.dev'
        run: echo "Deploy stage-2.dev"
      - name: Deploy prod.dev
        if: github.event.inputs.environment == 'prod.dev'
        run: echo "Deploy prod.dev"
