name: Build and Deploy
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Environment
        default: stage.dev
        options:
          - stage.dev
          - stage-1.dev
          - stage-2.dev
          - prod.dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: echo "Checkout code"
      - name: Checkout 
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: build container
        run: echo "Build container"
      - name: Check if workflow run from tag
        run: echo "Check if workflow run from tag"
      - name: Verify tag is on main branch
        run: |
          TAG_NAME=$(git tag --contains ${{ github.sha }} | head -n 1)
          MAIN_COMMIT=$(git rev-list -n 1 $TAG_NAME)
          MAIN_BRANCH=$(git branch -r --contains $MAIN_COMMIT | grep 'origin/main' | xargs)
          
          if [[ "$MAIN_BRANCH" != *"origin/main"* ]]; then
            echo "Tag is not on main branch"
            exit 1
          else
            echo "Tag is on main branch"
          fi
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            citest/ciapp
          tags: |
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Deploy stage.dev
        if: github.event.inputs.environment == 'stage.dev'
        run: echo "Deploy stage.dev"
      - name: Deploy stage-1.dev
        if: github.event.inputs.environment == 'stage-1.dev'
        run: echo "Deploy stage-1.dev"
      - name: Deploy stage-2.dev
        if: github.event.inputs.environment == 'stage-2.dev'
        run: echo "Deploy stage-2.dev"
      - name: Deploy prod.dev
        if: github.event.inputs.environment == 'prod.dev'
        run: echo "Deploy prod.dev"
